<div>
    <h1>Proof of Concept login page</h1>
</div>
<div>
<form name="loginForm" role="form" novalidate>
    <div class="form-group">
        <label for="name">Your name:</label>
        <input type="text" class="form-control" id="name" required
            ng-model="loginData.name">
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" required
            ng-model="loginData.password">
    </div>
    <button type="submit" class="btn btn-default"
            ng-disabled="loginForm.$invalid"
            ng-click="submit()">Submit</button>
</form>

<div style="color: red;">{{errMsg}}</div>

<div>
    Login data: {{loginData}} <br>
</div>
</div>
